<navbar class="nav">
    <div class="u-float-left nav__brand">
        <a href="https://jlazarte.com/#projects">Back to Projects</a>
    </div>
    <div class="u-float-right nav__options">
        <a href="#" id="open-income" class="nav__item">Add Income</a>
        <a href="#" id="open-expenses" class="nav__item">Add Expense</a>
    </div>
</navbar>