.home-page {
    background-color: white;
    font-size: 1.6rem;
}

.message {
    border-radius: .6rem;
    color: white;
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
}

.results-table {
    margin: 2rem auto;
}


.list {
    width: 100%;

    .chart {
        float: right;
        height: 40rem;
        width: 40rem;
        margin-left: 5rem;
    }


    &__container1 {
        width: 20%;
        margin-right: 10rem;
        &-income {
            list-style: none;
            li {
                color: white;
                padding: 1rem;
                background-color: $color-green;
                border-radius: .6rem;
            }
        }
    }

    &__container2 {
        width: 20%;
        &-expense {
            list-style: none;
            li {
                color: white;
                padding: 1rem;
                background-color: $color-red;
                border-radius: .6rem;
            }
        }
    }
}

@media only screen and (max-width: 1165px) {

    .list {
        width: 100%;
        .chart {
            float: none;
            display: block;
            margin: 4rem auto;
        }

        &__container1 {
            width: 40%;
            margin-right: 15%;
        }

        &__container2 {
            width: 40%;
        }
    }
}
