.edit-btn,
.delete-btn {
  cursor: pointer;
}

.action-btns {
  text-align: center;
  margin: 2rem 0;
  &__btn {
    &:not(first-of-type) {
      margin-left: 2rem;
    }
  }
}

@media only screen and (max-width: 650px) {
  .action-btns {
    &__btn {
      padding-left: 1rem;
      padding-right: 1rem;
      &:not(first-of-type) {
        margin-left: 1rem;
      }
    }
  }
}
