.nav {
    display: block;
    padding: 2rem;
    background-color: $color-blue;
    margin-bottom: 2rem;
    color: white;
    @include clearfix
    
    &__brand {
        dipsplay: inline-block;
        font-size: 2rem;
        font-weight: 500;
    }
    
    &__options {
        .nav__item {
            color: white;
            font-size: 2rem;
            
            &:first-child {
                margin-right: 1.5rem;
            }
        }
    }
    
}